NEXT_PUBLIC_SUI_PACKAGE_ID=0xYOUR_TESTNET_PACKAGE_ID
NEXT_PUBLIC_ORDER_BOOK_ID=0xYOUR_SHARED_ORDER_BOOK
NEXT_PUBLIC_PROFILE_REGISTRY_ID=0xYOUR_SHARED_PROFILE_REGISTRY
NEXT_PUBLIC_INSURANCE_POOL_ID=0xYOUR_SHARED_INSURANCE_POOL
NEXT_PUBLIC_OPPORTUNITIES_MODE=mock
NEXT_PUBLIC_OPPORTUNITIES_ENDPOINT=
